@page "/"
<div>
    <select @onchange="onChange">
        <option value="@nameof(CheckComponent)">@nameof(CheckComponent)</option>
        <option value="@nameof(TextComponent)">@nameof(TextComponent)</option>
    </select>
</div>
<DynamicComponent Type="tipo"/>
@code{
    Type tipo = typeof(CheckComponent);
    string namespaceComponent = "Blazor.FurnitoreStore.Client.Pages.";
    private void onChange (ChangeEventArgs e)
    {
        CheckComponent componente;

        tipo = Type.GetType ($"{namespaceComponent}{e.Value.ToString()}");
    }
}